@font-face {
  font-family: Acrom-Bold;
  src: url(./../fonts/Acrom-Bold.otf);
}

@font-face {
  font-family: Acrom-Medium;
  src: url(./../fonts/Acrom-Medium.otf);
}

@font-face {
  font-family: Acrom-Regular;
  src: url(./../fonts/Acrom-Regular.otf);
}

@font-face {
  font-family: Monaco;
  src: url(./../fonts/monaco.ttf);
}
