@font-face {
  font-family: Museo;
  src: url(./../fonts/Museo_Sans_Cyrillic.otf);
}
@font-face {
  font-family: Museo-Light;
  src: url(./../fonts/MuseoSansCyrl-100.otf);
}
@font-face {
  font-family: Museo-Regular;
  src: url(./../fonts/MuseoSansCyrl-300.otf);
}
@font-face {
  font-family: Museo-Bold;
  src: url(./../fonts/MuseoSansCyrl-900.otf);
}