.login{
  margin: 90px auto;
  .title{
    font-family: Museo-Bold, sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }
}