.template {
  .main--bg {
    height: 250px;
    .title {
      margin-bottom: 10px;
      font-size: 40px;
      @media screen and (max-width: 890px) {
        font-size: 28px;
        padding: 0 25px;
        line-height: 1.4;
      }
    }
  }
  .check-form--title, .report--title {
    font-size: 32px;
    font-family: Museo-Bold, sans-serif;
    text-align: center;
    margin: 60px auto 25px;
    max-width: 860px;
    @media screen and (max-width: 890px) {
      font-size: 24px;
    }
  }
  .check-form--description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    max-width: 960px;
    padding-bottom: 60px;
    @media screen and (max-width: 890px) {
      font-size: 17px;
      flex-direction: column;
    }
    p {
      margin-top: 0;
    }
    .description--default {
      font-size: 17px;
      line-height: 1.5;
      flex: 1;
    }
    .description--bord-text-wrap {
      flex: 1;
    }
    .description--bord-text {
      font-size: 19px;
      font-family: Museo, sans-serif;
      border-left: 5px solid #257FE6;
      padding-left: 17px;
      margin-left: 17px;
    }
    .description--bord-text--link {
      font-size: 19px;
      font-family: Museo, sans-serif;
      padding-left: 17px;
      margin-left: 17px;
      text-decoration: none;
      margin-top: 60px;
      display: block;
      @media screen and (max-width: 890px) {
        padding-left: 0;
        margin-left: 0;
        text-align: center;
      }
    }
    b {
      font-family: Museo, sans-serif;
    }
    @media screen and (max-width: 890px) {
      flex-wrap: wrap;
      .description--bord-text {
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }
  .form {
    .title {
      font-family: Museo, sans-serif;
      font-size: 26px;
      padding-top: 59px;
      margin-bottom: 30px;
      text-align: center;
    }

    #ip_address {
      padding: 13px 15px 15px 14px;
      background: rgba(255, 255, 255, .8);
      max-width: 680px;
      width: 100%;
      margin: 40px auto;
    }
    .ip-check--btn {
      width: 280px;
      color: #fff;
      font-size: 17px;
      padding: 11px 0 13px;
      border: none;
      margin: auto auto 40px auto;
      background: #257BE9;
    }
    &.dahua-wrap{
      background: #F5FAFF url("./../../static/img/icons/lowpoly-form.svg") no-repeat center;
      background-size: cover;
      max-width: 100%;
      padding-bottom: 100px;
      margin-bottom: 30px;
    }
  }
}

.chart {
  .title {
    font-family: Museo, sans-serif;
    font-size: 26px;
    padding-top: 60px;
    margin-bottom: 30px;
    text-align: center;
  }
  .chart--graph {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    max-width: 960px;
    padding-bottom: 60px;
    @media screen and (max-width: 890px) {
      font-size: 17px;
      flex-direction: column;
    }
  }
}

.report {
  .report--form_wrap {
    max-width: 768px;
    margin: 0 auto 160px;
    box-shadow: 0 0 10px 0 rgba(38, 124, 234, 0.15);
    textarea {
      width: auto;
      margin: 20px;
      font-size: 16px;
    }
    .samples {
      margin: 10px 20px 30px;
      line-height: 1.6;
      button {
        border: none;
        background: transparent;
        color: #217DED;
        cursor: pointer;
        padding: 0;
        margin: 0;
      }
    }
    .line--progress {
      width: 100%;
      background: #D9E9FB;
      height: 2px;
      display: flex;
      margin-bottom: 20px;
    }
  }
  .report--btn {
    width: 280px;
    margin: auto;
  }
  .status {
    .status--wrap, .report--links {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        margin-top: 10px;
        font-size: 22px;
      }
    }
    .report--links {
      flex-direction: row;
      justify-content: center;
      a {
        text-decoration: none;
        margin: 10px;
        display: flex;
        align-items: center;
        color: #000;
        img {
          margin-right: 5px;
        }
        &.view_report {
          color: #267CEA;
        }
      }
    }
  }
  .table-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: Museo, sans-serif;
    font-size: 22px;
  }
  table {
    width: 100%;
    margin-bottom: 40px;
    position: relative;
    tr {
      background: #fff;
      &:nth-of-type(2n+1) {
        background: #fbfdff;
      }
    }
  }
  td, th {
    text-align: left;
    padding: 12px 0;
    font-family: Museo, sans-serif;
  }
  th {
    background: #fbfdff;
    color: #9aa3ac;
  }
  .check {
    &:before {
      content: url(./../../static/img/icons/icon-check.svg);
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .uncheck {
    &:before {
      content: url(./../../static/img/icons/icon-uncheck.svg);
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

#from--animation {
  max-width: 768px;
  margin: auto;
  background: #fff;
  .line--progress {
    width: 100%;
    //background: transparent;
    height: 2px;
    margin-top: 19px;
    display: flex;
    .start--progress {
      width: 25%;
      height: 100%;
    }
    .all--progress {
      z-index: 2;
      height: 100%;
      width: 100%;
    }
  }
  .status {
    margin: 0 auto 30px;
    font-family: Museo, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    .status--wrap {
      display: flex;
      flex-direction: column;
    }
    #status--load {
      display: none;
      img {
        animation-name: rotation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin-bottom: 10px;
      }
      span {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 22px;
      }
    }
    #status--current {
      display: none;
      flex-direction: column;
      span {
        margin-top: 10px;
        font-size: 22px;
      }
    }
    #status--failed {
      display: none;
      flex-direction: column;
      span {
        margin-top: 10px;
        font-size: 22px;
      }
    }
    #status--error {
      display: none;
      flex-direction: column;
      span {
        margin-top: 10px;
        font-size: 22px;
      }
    }
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  &.status__change {
    .status {
      visibility: visible;
      #status--load {
        display: none;
      }
      #status--current {
        display: none;
      }
      #status--failed {
        display: none;
      }
    }
    .ip-check--btn {
      display: none;
    }
  }
  &.load {
    .status {
      #status--load {
        display: flex;
        transition: all .5s;
      }
    }
    .line--progress {
      width: 20%;
      background: #257FE6;
      animation: widthChange;
      animation-duration: 2s;
      animation-timing-function: linear;
    }
    @keyframes widthChange {
      from {
        width: 0;
      }
      to {
        width: 20%;
      }
    }
  }
  &.current {
    .status {
      #status--current {
        display: flex;
      }
    }
    .line--progress {
      background: #2DC724;
      width: 100%;
      animation: widthChangeCurrent .7s linear;
      @keyframes widthChangeCurrent {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
  &.failed {
    .status {
      #status--failed {
        transition: all .5s;
        display: flex;
      }
    }
    .line--progress {
      background: #DA2343;
      width: 100%;
      animation: widthChangeCurrent .7s linear;
      @keyframes widthChangeCurrent {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
  &.error {
    .status {
      #status--failed {
        transition: all .5s;
        display: flex;
      }
    }
    .line--progress {
      background: #DA2343;
      width: 100%;
      animation: widthChangeCurrent .7s linear;
      @keyframes widthChangeCurrent {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}